In [21]:
import tweepy
import configparser

# Authenticate Twitter

In [22]:
import tweepy
import configparser
import pandas as pd

config = configparser.ConfigParser()

config.read('config.ini')

api_key = config['twitter']['api_key']
api_key_secret = config['twitter']['api_key_secret']
access_token = config['twitter']['access_token']
access_token_secret = config['twitter']['access_token_secret']

auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
twitter = tweepy.API(auth, wait_on_rate_limit=True)

# Gather Tweets

In [6]:
import snscrape.modules.twitter as sntwitter

In [33]:
tweets = []
limit = 10000
query = '#mentalhealth'
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    if len(tweets) >= limit:
        break
    else:
        tweets.append(tweet.content)

In [41]:
tweets_dict = {'text': [tweet for tweet in tweets]}

In [42]:
df = pd.DataFrame(tweets_dict)
df

                                                   text
0     A way for people to place problems in better p...
1     Are you ready to unlock your full potential an...
2     Setting yearly short term goals and meeting th...
3     Sometimes you have to ask yourself is it worth...
4     Having a rough day? #BeKind to your mind.. #Jo...
...                                                 ...
9995  It has cost me too much time on #MentalHealth ...
9996  Self-care can include myriad practices that yo...
9997  Don’t just sit around waiting for that moment ...
9998  Studies show that many people living with #men...
9999  Studies show that many people living with #men...

[10000 rows x 1 columns]

In [51]:
df['text'] = df['text'].fillna('')
df

                                                   text
0     A way for people to place problems in better p...
1     Are you ready to unlock your full potential an...
2     Setting yearly short term goals and meeting th...
3     Sometimes you have to ask yourself is it worth...
4     Having a rough day? #BeKind to your mind.. #Jo...
...                                                 ...
9995  It has cost me too much time on #MentalHealth ...
9996  Self-care can include myriad practices that yo...
9997  Don’t just sit around waiting for that moment ...
9998  Studies show that many people living with #men...
9999  Studies show that many people living with #men...

[10000 rows x 1 columns]

In [52]:
#pd.DataFrame.to_csv(df, 'data/mental_health_tweets.csv')
pd.DataFrame.to_csv(df, 'data/mental_health_tweets2.csv')

# Notes

In [ ]:
query = tweepy.Cursor(twitter.search_tweets, q='#mentalhealth').items(5)
tweets = [{'text': tweet.text} for tweet in query]
df = pd.DataFrame(tweets)

In [23]:
#num_tweets = 5500
#query = tweepy.Cursor(twitter.search, q='#mentalhealth').items(5)
tweets = [{'text': tweet} for tweet in tweets]
df = pd.DataFrame(tweets)