# Intention: Gather & Preprocess all the tweets from our 2 Target Groups
# 1. Spirituality Teachers
# 2. Actors

In [1]:
from Cookbook import *
import matplotlib.pyplot as plt

In [2]:
import tweepy
import configparser
import pandas as pd

config = configparser.ConfigParser()

config.read('config.ini')

api_key = config['twitter']['api_key']
api_key_secret = config['twitter']['api_key_secret']
access_token = config['twitter']['access_token']
access_token_secret = config['twitter']['access_token_secret']

auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
twitter = tweepy.API(auth)

In [3]:
import snscrape.modules.twitter as sntwitter
import nltk
from nltk.corpus import stopwords
from textblob import Word, TextBlob

In [4]:
df = pd.read_csv('data/user_accounts2.csv')

In [5]:
df

        screen_name  group
0      EckhartTolle      1
1     JulienHimself      1
2   realDonaldTrump      1
3          elonMusk      1
4         Headspace      1
..              ...    ...
91        @iHrithik      2
92   @AnushkaSharma      2
93    @sonamakapoor      2
94      @samclaflin      2
95  @TomHolland1996      2

[96 rows x 2 columns]

# Preprocessing Accounts

In [6]:
df['screen_name'] = df['screen_name'].astype(str).str.replace('@', '')

In [7]:
def is_valid_account(s):
    try:
        x = twitter.get_user(screen_name=s)
        return True
    except:
        return False

In [15]:
initial_users = df['screen_name'].values
initial_users = list(initial_users)

is_valid_account(initial_users[1])

True

In [17]:
#userList = [user for user in initial_users if is_valid_account(user)]
invalid_users = [user for user in initial_users if not is_valid_account(user)]

In [18]:
invalid_users

['amishshija', 'IMKristenBell', 'TheEllenShow']

In [20]:
final_user_list = l1 + l2
final_user_list

['EckhartTolle',
 'JulienHimself',
 'Headspace',
 'InsightTimer',
 'TrainingMindful',
 'SadhguruJV',
 'PMOIndia',
 'DeepakChopra',
 'DalaiLama',
 'Oprah',
 'thichnhathanh',
 'TonyRobbins',
 'BabaRamDass',
 'tinybuddha',
 'Zen_Moments',
 'mindfulnessbell',
 'wkup',
 'TaraBrach',
 'APAHealthyMinds',
 'PsychCentral',
 'PsychToday',
 'PsychNews',
 'MindfulEveryday',
 'JamesFrancoTV',
 'EmmaWatson ',
 'annaKendrick47',
 'SteveMartinToGo',
 'PamGrier',
 'JimCarrey',
 'carrieffisher',
 'samuelLJackson',
 'IanMcKellen',
 'jadapsmith',
 'ladygaga',
 'justinbieber',
 'stephenfry',
 'britneyspears',
 'taylorswift13',
 'katyperry',
 'rihanna',
 'MileyCyrus ',
 'rustyrockets',
 'selenagomez',
 'adamlambert',
 'JLo',
 'Cher',
 'chrisbrogan']

# Compute Account Mood & Follower Mood

In [ ]:
def compute_twitter_query_mood(screen_name, max_tweets, query_form='from'):
    query = f'({query_form}:{screen_name})'
    tweets = []
    
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        if len(tweets) >= max_tweets:
            break
            
        tweets.append(tweet.content)
        
    mood = np.mean(list(map(lambda x: TextBlob(x).sentiment[0], tweets)))
    
    return mood

In [ ]:
mood_dict = {
    'user': [],
    'mood': [],
    'community_mood': []
}

num_tweets = 100

for i in range(len(final_user_list)):
    curr_user = final_user_list[i]
    mood = compute_twitter_query_mood(curr_user, num_tweets, 'from')
    c_mood = compute_twitter_query_mood(curr_user, num_tweets, 'to')
        
    mood_dict['user'].append(curr_user)
    mood_dict['mood'].append(mood)
    mood_dict['community_mood'].append(c_mood)

In [ ]:
df = pd.DataFrame(mood_dict)

In [ ]:
df

In [ ]:
df.to_csv('data/moods_and_community_moods.csv')

In [ ]:
df1 = df.copy()

In [ ]:
x = df['mood'].values
y = df['community_mood'].values

plt.scatter(x,y)

In [ ]:
# Account Mood

num_tweets = 100

for i in range(len(final_user_list)):
    curr_user = 'EckhartTolle'#final_user_list[i]
    ts, mood = compute_twitter_query_mood(curr_user, num_tweets, 'from')
    ts2, f_mood = compute_twitter_query_mood(curr_user, num_tweets, 'to')
    break
    

    
# Follower Mood

In [ ]:
mood, f_mood

now, we will get the f_mood for Eckhart Tolle. After that, we will apply both methods to get the mood and f_mood for every single user among the 50 accounts and apply K-Means Clustering on them.

If we see a validated hypothesis, we may end there. 

If we do NOT see a validated hypothesis, we may adjust our parameters to be subjectvitiy polarity

(side note: Did you increase to 100 (50 meditation and 50 actor accounts

# WARNING! The following line of code takes *at least* 45min-1hr to load

In [ ]:
#df2 = create_user_dataframe2(final_user_list)

In [ ]:
df2

In [ ]:
pd.DataFrame.to_csv(df2, 'data/mood_and_f_moods2.csv')

# Other

In [ ]:
nltk.download("stopwords")
nltk.download("wordnet")
stop_words = stopwords.words("english")
custom_stopwords = ["RT", "https:"]
nltk.download('omw-1.4')

In [ ]:
i = 89
print(ts[i])
new = preprocess_tweet(ts[i], custom_stopwords)
print(new)
#preprocess_tweet()
print(TextBlob(ts[0]).sentiment[0], TextBlob(new).sentiment[0])

In [ ]:
xs = [(t, TextBlob(t).sentiment[0]) for t in ts]
xs[36]

In [ ]:
import nltk
from nltk.corpus import stopwords
from textblob import Word, TextBlob